html {
  font-family: "Ubuntu", sans-serif;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.article {
  padding-top: 80px;
  padding-bottom: 120px;
}


.article__title__medium {
  font-size: 36px;
  margin-top: 80px;
}

.article__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  font-family: Ubuntu, sans-serif;
}

.article__text:not(:last-child) {
  margin-bottom: 20px;
}

.article__mb {
  margin-bottom: 80px;
}
.article-decor-wrapper {
  position: relative;
}
.article-decor-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url(../images/декор\ 2.svg) no-repeat;
  width: 528px;
  height: 48px;
}
.article-decor {
  position: absolute;
  z-index: -1;
}

.article-decor-wrapper-1::before {
  top: 100px;
  left: -350px;
}

.article-decor-wrapper-2::before {
  bottom: 100px;
  right: -350px;
}
.article__img,
.article__video {
  width: 100%;
}
.article__list {
  margin-top: 0;
  padding-left: 16px;
}

.article__item::marker {
  color: #3596ed;
  font-size: 22px;
}

.article__item {
  margin-bottom: 12px;
}
.article__text__footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  margin-top: 40px;
}

.article-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #3596ed;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
