html {
  font-family: "Ubuntu", sans-serif;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.article {
  padding-top: 80px;
  padding-bottom: 120px;
}

.article__title__medium {
  font-size: 36px;
  margin-top: 80px;
}

.article__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  font-family: Ubuntu, sans-serif;
}

.article__text:not(:last-child) {
  margin-bottom: 20px;
}

.article__mb {
  margin-bottom: 80px;
}
.article__decor-wrapper {
  position: relative;
}
.article__decor-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url(../images/decor-large-icon.svg) no-repeat;
  width: 528px;
  height: 48px;
}
.article-decor {
  position: absolute;
  z-index: -1;
}

.article__decor-wrapper--1::before {
  top: 100px;
  left: 600px;
}

.article__decor-wrapper--2::before {
  bottom: 140px;
  right: 590px;
}
.article__img,
.article__video {
  width: 100%;
}
.article__list {
  margin-top: 0;
  padding-left: 16px;
}

.article__item::marker {
  color: #3596ed;
  font-size: 22px;
}

.article__item {
  margin-bottom: 12px;
}
.article__text--footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  margin-top: 40px;
}

.article__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #3596ed;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s, background-color 0.2s;
}

.article__play-button:hover {
  background-color: #082238;
}
.article__play-button:not(:disabled):active {
  background-color: #2d82cd;
}

@media (width <= 768px) {
  .article-decor-wrapper::before {
    display: none;
  }

  .article__mb {
    margin-bottom: 60px;
  }

  .article__title__medium {
    font-size: 32px;
  }
}

@media (width <= 576px) {
  .article {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .article__mb {
    margin-bottom: 40px;
  }

  .news__title {
    font-size: 32px;
  }

  .article__play-button {
    width: 50px;
    height: 50px;
  }

  .article__play-button img {
    height: 18px;
    width: 18px;
  }
}
