html {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.button {
  padding: 19px 32px;
  background-color: #3596ed;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.4s;
}

.button:hover {
  opacity: 0.8;
}

.section {
  margin-bottom: 140px;
}

.title-large {
  max-width: 596px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  font-size: 48px;
  margin-bottom: 40px;
}

.text-sub {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #858e8a;
}
