html {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 375px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
a,
button {
  outline: none;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.button {
  padding: 19px 32px;
  background-color: #3596ed;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.4s background-color 0.2s;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  background-color: #2d82cd;
}

.section {
  margin-bottom: 140px;
}

.title-large {
  max-width: 596px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  font-size: 48px;
  margin-bottom: 40px;
}

.title-medium {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.text-sub {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #858e8a;
}

.decor::before {
  top: 215px;
}

a:focus-visible,
button:focus-visible,
summary:focus-visible {
  outline: 2px solid #3596ed;
  outline-offset: 1px;
}

.button:not(:disabled):active {
  opacity: 0.65;
  cursor: default;
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  .title-large {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .home-page .title-large {
    text-align: center;
    max-width: inherit;
    margin-bottom: 30px;
  }
  .title-medium {
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  .section {
    margin-bottom: 80px;
  }
  .title-large {
    font-size: 34px;
  }

  .title-medium {
    font-size: 18px;
  }

  .home-page .title-large {
    text-align: center;
    max-width: inherit;
    margin-bottom: 30px;
  }
}
