.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 10px;
  border-bottom: 1px solid #d3cbd9;
}
.header__phone--link {
  text-align: right;
}
.header__phone--link a {
  font-weight: 500;
  font-size: 18px;
  color: #2c332f;
  transition: color 0.2s;
  text-decoration: none;
}

.header__phone--link a:hover {
  color: aqua;
}

.header__phone--link p {
  margin-bottom: 8px;
}
