.hero {
  position: relative;
  padding-top: 80px;
}

.hero::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 48px;
  background: url("../images/декор\ 3.svg") repeat-x;
  bottom: 106px;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 28px;
}

.hero h1 {
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}
.hero h1 strong {
  font-weight: 600;
  color: #3596ed;
}

.hero p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.hero-images {
  display: flex;
}

.button {
  padding: 19px 32px;
  background-color: #3596ed;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.hero-info .text {
  margin-bottom: 140px;
  max-width: 440px;
}
.hero-images {
  display: flex;
  position: relative;
}

.hero-choose {
  position: absolute;
  border: 1px solid #535755;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 22px;
  max-width: 161px;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
}
.news-card {
  display: flex;
  gap: 28px;
}
.news-article {
  display: flex;
  flex-direction: column;
  max-width: 284px;
  background-color: #fff;
  border: 1px solid #d3cbd9;
  overflow: hidden;
}

.news-article img {
  display: block;
}
.news-info {
  padding: 20px 20px 0;
  margin-bottom: 12px;
}
.news-date {
  margin-bottom: 8px;
  display: inline-block;
}

.news-article footer {
  padding: 0 20px 20px;
  margin-top: auto;
}

.news-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #3596ed;
  text-decoration: none;
}
.news-link:hover::after {
  transform: translateX(5px);
  transition: transform 0.4s;
}

.news-link::after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 9px;
  background-image: url(../images/arrow-right-icon.svg);
}
