.hero {
  position: relative;
  padding-top: 80px;
}

.hero::before {
  width: 100%;
  bottom: 106px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.hero h1 {
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.hero h1 strong {
  font-weight: 600;
  color: #3596ed;
}

.hero p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.hero-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__button {
  padding: 19px 32px;
  background-color: #3596ed;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  top: 150px;
}

.section__info {
  max-width: 492px;
}

.section__info .text {
  margin-bottom: 140px;
  max-width: 440px;
}
.hero-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.hero-images__choose {
  position: absolute;
  border: 1px solid #535755;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 22px;
  max-width: 161px;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
}

.news::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 550px;
  height: 48px;
  background: url("../images/декор\ 3.svg") repeat-x;
}

.news__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}
.news__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 284px;
  background-color: #fff;
  border: 1px solid #d3cbd9;
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
}

.news__article img {
  display: block;
}
.news__info {
  padding: 20px 20px 0;
  margin-bottom: 12px;
}
.news__datetime {
  margin-bottom: 8px;
  display: inline-block;
}

.news__article footer {
  padding: 0 20px 20px;
  margin-top: auto;
}

.news__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #3596ed;
  text-decoration: none;
}
.news__link:hover::after {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.news__link::after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 9px;
  background-image: url(../images/arrow-right-icon.svg);
}

.faq {
  position: relative;
}

.faq::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(50% - 250px);
  height: 48px;
  background: url("../images/декор\ 3.svg") repeat-x;
  top: 215px;
}

.faq__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  gap: 28px;
}

.faq__details {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-block: 1px solid #d3cbd9;
}

.faq__details:last-child {
  margin-bottom: 0;
}

.faq__details[open] summary::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.faq__title-medium {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.faq__title-medium::after {
  content: "";
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: inline-block;
  width: 17px;
  height: 22px;
  background: url(../images/стрелка2.svg) no-repeat center / cover;
}

.faq__title-medium::-webkit-details-marker {
  display: none;
}

.faq__details > p {
  padding: 0 20px;
}

/* Планшеты и меньше */
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }

  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero::after {
    display: none;
  }

  .section__info {
    text-align: center;
  }

  .hero h1 {
    font-size: 52px;
    margin-bottom: 30px;
  }

  .hero-info .text {
    max-width: inherit;
    margin-bottom: 30px;
  }

  .news__card {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 20px;
  }
  .news__article {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 350px;
  }
  .news__article img {
    width: 100%;
  }

  .faq::before {
    display: none;
  }

  .faq__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (width <= 1440px) {
  .hero-images img {
    width: 50%;
  }
}

@media (width <= 992px) {
  .hero::after {
    display: none;
  }

  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero__info {
    text-align: center;
  }

  .hero h1 {
    margin-bottom: 30px;
    font-size: 52px;
  }

  .hero__info .text {
    max-width: inherit;
    margin-bottom: 30px;
  }
}

@media (width <= 768px) {
  .hero h1 {
    font-size: 50px;
  }

  .news__article {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 400px;
  }
}

@media (width <= 576px) {
  .hero {
    padding-top: 60px;
  }

  .hero__info {
    max-width: 410px;
  }

  .hero h1 {
    font-size: 42px;
  }

  .hero__choose {
    max-width: 125px;
    padding: 10px;
    font-size: 14px;
  }
}
