* {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  margin: 0;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.header {
  background: red;
  grid-column: 1 / -1;
  height: 110px;
}

.main {
  background: green;
  grid-column: 4 / 13 ;
}

.aside {
  background: yellow;
  grid-column: 1 / 4;
  max-width: 350px;
}

.footer {
  background: blue;
  grid-column: 1 / -1;
  height: 150px;
}

.grid__container {
  display: grid;
  margin: 0 auto;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  margin-top: 20px;
}

.card__item {
  background: orange;
  gap: 5px;
  height: 200px;
}

@media (width <= 1200px) {
  .grid__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 768px) {
  .aside {
    display: none;
  }

  .grid__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .main{
    grid-column: 13 span;
  }
}

