.main {
  min-height: 100vh;
}

.ai-basics {
  margin-top: 0;
  background: #022335;
  background: -o-linear-gradient(
    315deg,
    #011a26 0%,
    #022e3a 100%,
    #0a3d42 50%,
    #0c4a47 10%
  );
  background: linear-gradient(
    135deg,
    #011a26 0%,
    #022e3a 100%,
    #0a3d42 50%,
    #0c4a47 10%
  );
  position: relative;
}

.ai-basics__title {
  color: var(--color-text-primary);
  padding-top: 105px;
  margin-left: 360px;
  padding-bottom: 111px;
}

.ai-basics__text {
  text-align: left;
}

.ai-basics__content-text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 263px;
  padding-right: 5px;
  min-width: 0;
}

.ai-basics__image-container {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
}

.ai-basics__image-container::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  background: rgba(3, 225, 255, 0.6);
  -webkit-filter: blur(11px);
  filter: blur(11px);
  height: 15px;
  bottom: -9px;
  right: 66%;
  width: 63px;
  pointer-events: none;
}

.ai-basics__title-accent {
  color: var(--color-title);
}

.ai-basics__flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 46px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 46px;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 60px;
}

.ai-basics__explanation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.ai-basics__explanation:nth-child(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  margin: 0 auto;
  gap: 20px;
}

.ai-basics__explanation:nth-child(3),
.ai-basics__explanation:nth-child(4) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.ai-basics__explanation:nth-child(1) .ai-basics__content-text {
  max-width: 275px;
  padding-right: 42px;
}

.ai-basics__explanation:nth-child(2) .ai-basics__content-text {
  max-width: 220px;
}

.ai-basics__explanation:nth-child(3) .ai-basics__content-text {
  max-width: 230px;
  padding-right: 22px;
}

.ai-basics__explanation:nth-child(4) .ai-basics__content-text {
  max-width: 210px;
  padding-right: 10px;
}

.ai-basics__image {
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  position: relative;
}

.ai-basics__border-bottom {
  width: 100%;
  height: 0;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-box-shadow: var(--border-bottom);
  box-shadow: var(--border-bottom);
  border: 1px solid #3dc8c0;
  opacity: 0.9;
  margin-top: 129px;
}

@media (width <= 1200px) {
  .ai-basics__title {
    margin-left: 30px;
    padding-left: 30px;
    font-size: 35px;
  }
  .ai-basics__flex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 29px minmax(0, 1fr);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    gap: 29px;
    max-width: 100%;
  }
  .ai-basics__explanation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    min-width: 0;
    position: relative;
  }

  .ai-basics__flex img {
    margin-top: -60px;
    width: 200px;
    height: 98px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .ai-basics__text {
    font-size: 14px;
    width: 100%;

    line-height: 1.2;
  }

  .ai-basics__content-text {
    width: 100%;
    max-width: 100%;
  }

  .ai-basics__explanation:nth-child(3) {
    margin-top: 40px;
  }
  .ai-basics__explanation:nth-child(4) {
    margin-top: 40px;
  }
  .ai-basics__explanation:nth-child(1) .ai-basics__content-text,
  .ai-basics__explanation:nth-child(2) .ai-basics__content-text,
  .ai-basics__explanation:nth-child(3) .ai-basics__content-text,
  .ai-basics__explanation:nth-child(4) .ai-basics__content-text {
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  .ai-basics__border-bottom {
    margin-top: 50px;
  }
}

@media (width <= 768px) {
  .ai-basics__title {
    margin-left: 0;
    padding-left: 40px;
    font-size: 35px;
  }

  .ai-basics__flex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 29px minmax(0, 1fr);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;

    gap: 29px;
    max-width: 100%;
  }
  .ai-basics__explanation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    min-width: 0;
    position: relative;
  }

  .ai-basics__flex img {
    margin-top: -60px;
    width: 138px;
    height: 98px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .ai-basics__text {
    font-size: 14px;
    width: 100%;
    line-height: 1.2;
  }

  .ai-basics__content-text {
    width: 100%;
    max-width: 100%;
  }

  .ai-basics__explanation:nth-child(3) {
    margin-top: 40px;
  }
  .ai-basics__explanation:nth-child(4) {
    margin-top: 40px;
  }
  .ai-basics__explanation:nth-child(1) .ai-basics__content-text,
  .ai-basics__explanation:nth-child(2) .ai-basics__content-text,
  .ai-basics__explanation:nth-child(3) .ai-basics__content-text,
  .ai-basics__explanation:nth-child(4) .ai-basics__content-text {
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  .ai-basics__border-bottom {
    margin-top: 50px;
  }
}

@media (width <= 576px) {
  .ai-basics__title {
    padding-left: 24px;
    margin-left: 0;
    padding-top: 52px;
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .ai-basics__flex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 29px minmax(0, 1fr);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;

    gap: 29px;
    max-width: 100%;
  }
  .ai-basics__explanation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    min-width: 0;
    position: relative;
  }

  .ai-basics__flex img {
    margin-top: -60px;
    width: 138px;
    height: 98px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .ai-basics__text {
    font-size: 14px;
    width: 100%;
    line-height: 1.2;
  }

  .ai-basics__content-text {
    width: 100%;
    max-width: 100%;
  }

  .ai-basics__explanation:nth-child(3) {
    margin-top: 40px;
  }
  .ai-basics__explanation:nth-child(4) {
    margin-top: 40px;
  }
  .ai-basics__explanation:nth-child(1) .ai-basics__content-text,
  .ai-basics__explanation:nth-child(2) .ai-basics__content-text,
  .ai-basics__explanation:nth-child(3) .ai-basics__content-text,
  .ai-basics__explanation:nth-child(4) .ai-basics__content-text {
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  .ai-basics__border-bottom {
    margin-top: 50px;
  }
}
