.modal {
  position: fixed;
  inset: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: var(--overlay-color);
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  -webkit-transition:
    opacity 0.4s ease,
    visibility 0.4s ease,
    -webkit-backdrop-filter 0.4s ease;
  transition:
    opacity 0.4s ease,
    visibility 0.4s ease,
    -webkit-backdrop-filter 0.4s ease;
  -o-transition:
    opacity 0.4s ease,
    visibility 0.4s ease,
    backdrop-filter 0.4s ease;
  transition:
    opacity 0.4s ease,
    visibility 0.4s ease,
    backdrop-filter 0.4s ease;
  transition:
    opacity 0.4s ease,
    visibility 0.4s ease,
    backdrop-filter 0.4s ease,
    -webkit-backdrop-filter 0.4s ease;
}

.modal::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.modal--open {
  opacity: 1;
  visibility: visible;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.modal__window {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-block: 50px;
  border-radius: 20px;
  width: 302px;
  height: 677px;
  -webkit-box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.53);
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.53);
  background: -o-linear-gradient(137deg, #033958 0%, #0f6b78 100%);
  background: linear-gradient(313deg, #033958 0%, #0f6b78 100%);
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  -webkit-transition:
    opacity 0.4s ease,
    -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    -webkit-filter 0.4s ease;
  transition:
    opacity 0.4s ease,
    -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    -webkit-filter 0.4s ease;
  -o-transition:
    transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    opacity 0.4s ease,
    filter 0.4s ease;
  transition:
    transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    opacity 0.4s ease,
    filter 0.4s ease;
  transition:
    transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    opacity 0.4s ease,
    filter 0.4s ease,
    -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    -webkit-filter 0.4s ease;
}

.modal__window--open {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-filter: blur(0px);
  filter: blur(0px);
}
.modal-sign-up__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 19px;
  padding: 0 28px;
}

.modal-sign-up__title-accent {
  color: var(--color-title);
}

.modal-sign-up__title {
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  color: var(--color-fill);
  padding-top: 33px;
  text-align: left;
  padding-left: 28px;
  padding-bottom: 30px;
}

.modal-sign-up__label,
.modal-sign-up__input {
  text-align: left;
  display: block;
}

.modal-sign-up__input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
  filter: invert(1);
  cursor: pointer;
}

.modal-sign-up__label-text {
  margin-bottom: 12px;
}

.modal-sign-up__input {
  border-radius: 9px;
  width: 247px;
  height: 60px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 224, 255, 0.11)),
    to(rgba(0, 224, 255, 0.11))
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 224, 255, 0.11) 0%,
    rgba(0, 224, 255, 0.11) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 224, 255, 0.11) 0%,
    rgba(0, 224, 255, 0.11) 100%
  );
  border: 1px solid #49b9e8;
  border-radius: 9px;
  padding-left: 21px;
  font-weight: 500;
  font-size: 15px;
  margin-top: 6px;
  letter-spacing: 0.1em;
  color: var(--color-fill);
  outline: none;
}

.modal-sign-up__input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.1em;
  color: var(--color-fill);
}

.modal-sign-up__input::-moz-placeholder {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.1em;
  color: var(--color-fill);
}

.modal-sign-up__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.1em;
  color: var(--color-fill);
}

.modal-sign-up__input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.1em;
  color: var(--color-fill);
}

.modal-sign-up__input::placeholder {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.1em;
  color: var(--color-fill);
}

.modal-sign-up__button {
  font-weight: 750;
  font-size: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-fill);
  border-radius: 9px;
  width: 247px;
  height: 60px;
  -webkit-box-shadow: 0 7px 20px -7px #00e0ff;
  box-shadow: 0 7px 20px -7px #00e0ff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(3, 225, 255, 0.66)),
    to(#13cdc2)
  );
  background: -o-linear-gradient(top, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
  margin-top: 15px;
}

.modal__close {
  position: absolute;
  top: -30px;
  right: -0px;
}
