.salaries {
  background: -o-linear-gradient(135deg, #022335 0%, #043a41 100%);
  background: linear-gradient(315deg, #022335 0%, #043a41 100%);
  margin-top: 0;
  position: relative;
  overflow: hidden;
}

.salaries::before {
  content: "";
  position: absolute;
  border-radius: 100%;
  background: #00e0ff;
  -webkit-filter: blur(247px);
  filter: blur(247px);
  width: 200px;
  height: 300px;
  pointer-events: none;
  right: 660px;
  top: 430px;
  z-index: 0;
}

.salaries::after {
  content: "";
  border-radius: 100%;
  background: #ffa800;
  -webkit-filter: blur(250px);
  filter: blur(250px);
  width: 200px;
  height: 300px;
  pointer-events: none;
  position: absolute;
  right: 950px;
  top: 310px;
  z-index: var(--z-index-1);
}

.salaries__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.salaries__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  z-index: var(--z-index-2);
  position: relative;
}
.salaries__title {
  padding-top: 138px;
  margin-left: 360px;
  color: var(--color-fill);
  white-space: nowrap;
}
.salaries__title-accent {
  color: var(--color-title);
}

.salaries__info-money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 692px;
  width: 100%;
  position: relative;
  margin-left: 360px;
  margin-top: 64px;
  gap: 8px;
  padding: 0;
}

.salaries__info-money li {
  display: block;
  padding-block: 20px;
  padding-left: 77px;
  position: relative;
  border-radius: 5px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(52.08%, rgba(31, 63, 77, 0.53)),
    to(rgba(31, 75, 94, 0))
  );
  background: -o-linear-gradient(
    left,
    rgba(31, 63, 77, 0.53) 52.08%,
    rgba(31, 75, 94, 0) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(31, 63, 77, 0.53) 52.08%,
    rgba(31, 75, 94, 0) 100%
  );
  line-height: 140%;
  width: 692px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.salaries__info-money li::before {
  content: "";
  position: absolute;
  left: 4%;
  width: 32px;
  height: 21px;
  background-image: url(../../icons.svg/salaries-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.salaries__info-money li::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  background: rgba(3, 225, 255, 0.6);
  -webkit-filter: blur(11px);
  filter: blur(11px);
  height: 15px;
  bottom: 15px;
  right: 82%;
  width: 62px;
  pointer-events: none;
}

.salaries__info-money li:nth-child(2)::after {
  top: 30px;
}
.salaries__info-money li:nth-child(3)::after {
  top: 30px;
}

.salaries__info-money li:nth-child(4)::after {
  top: 30px;
}

.salaries__info-money li:first-child {
  white-space: nowrap;
}

.salaries__image {
  padding-top: 275px;
  margin-left: 900px;
  -webkit-box-shadow: inset 0 0 110px 14px #000;
  box-shadow: inset 0 0 110px 14px #000;
  mix-blend-mode: lighten;
  -o-object-fit: contain;
  object-fit: contain;
  z-index: 10;
  position: absolute;
  -o-object-position: center;
  object-position: center;
}

.salaries__glare {
  mix-blend-mode: screen;
  position: absolute;
  z-index: 1;
  left: 913px;
  top: 401px;
}
.salaries__button {
  margin-top: 69px;
  margin-left: 360px;
  background: var(--background-button);
  border: none;
  border-radius: 9px;
  color: var(--color-fill);
  font-weight: var(--font-weight-bold);
  font-size: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: var(--shadow-primary);
  box-shadow: var(--shadow-primary);
  max-width: 479px;
  height: 60px;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition:
    transform 0.3s,
    -webkit-transform 0.3s;
}

.salaries__bottom-border {
  width: 100%;
  height: 0;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-box-shadow: var(--border-bottom);
  box-shadow: var(--border-bottom);
  border: 1px solid #3dc8c0;
  opacity: 0.9;
  margin-top: 110px;
  margin-bottom: 3px;
}

@media (width <= 768px) {
  .salaries__title {
    margin-left: 0;
    font-size: 40px;
    padding-left: 40px;
  }
  .salaries__info-money {
    padding-left: 35px;
    margin-left: 0;
  }

  .salaries__info-money li {
    font-size: 13px;
  }

  .salaries__button {
    margin-left: 40px;
  }
}

@media (width <= 1920px) {
  .salaries__title {
    margin-left: 80px;
    font-size: 35px;
  }

  .salaries__info-money {
    margin-left: 80px;
    font-size: 13px;
  }

  .salaries__glare {
    left: 840px;
    top: 395px;
  }

  .salaries__image {
    margin-left: 700px;
    width: clamp(34.375rem, 16.518rem + 37.2vw, 50rem);
    padding-top: 240px;
  }

  .salaries__button {
    margin-left: 100px;
    width: clamp(6.25rem, -11.607rem + 37.2vw, 21.875rem);
  }
}

@media (width <= 1440px) {
  .salaries__title {
    margin-left: 30px;
    font-size: 35px;
    padding-top: 28px;
    padding-left: 28px;
    padding-right: 28px;
  }
  .salaries__info-money {
    margin-top: 20px;
    margin-left: 30px;
    padding-left: 28px;
    padding-right: 28px;
  }
  .salaries__info-money li {
    width: 550px;
    font-size: 13px;
  }

  .salaries__image {
    padding-bottom: 350px;
    right: 200px;
  }

  .salaries__glare {
    left: 340px;
    width: 500px;
    top: 20%;
  }
  @media (width <= 1024px) {
    .salaries__title {
      margin-left: 0;
      font-size: 30px;
      padding-top: 28px;
      padding-left: 28px;
      padding-right: 28px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .salaries__info-money {
      margin-top: 12px;
      margin-left: 0;
      padding-left: 28px;
      padding-right: 28px;
    }
    .salaries__info-money li {
      width: 304px;
    }
    .salaries__info-money li:first-child {
      white-space: normal;
    }

    .salaries__info-money li::before {
      left: 8%;
    }
    .salaries__info-money li::after {
      right: 60%;
    }
    .salaries__info-money li:nth-child(1)::after {
      right: 60%;
      top: 29%;
    }

    .salaries__image {
      -webkit-box-shadow: inset 0 0 110px 14px #000;
      box-shadow: inset 0 0 110px 14px #000;
      mix-blend-mode: lighten;
      margin-left: 0;
      top: 0;
      width: 600px;
      right: 10px;
    }

    .salaries__glare {
      top: 0;
      display: none;
    }

    .salaries__button {
      margin-top: 253px;
      margin-left: 0;
      font-size: 12px;
      margin-left: 28px;
      width: 300px;
    }

    .salaries__bottom-border {
      margin-top: 73px;
    }
  }

  .salaries__info-money li:first-child {
    white-space: normal;
  }

  .salaries__info-money li::before {
    left: 6%;
  }
  .salaries__info-money li::after {
    right: 75%;
  }
  .salaries__info-money li:nth-child(1)::after {
    right: 75%;
    top: 29%;
  }

  .salaries__button {
    margin-top: 100px;
    margin-left: 0;
    font-size: 12px;
    margin-left: 60px;
    width: 500px;
  }

  .salaries__bottom-border {
    margin-top: 73px;
  }
}

@media (width <= 768px) {
  .salaries__title {
    margin-left: 30px;
    font-size: 30px;
    padding-top: 28px;
    padding-left: 28px;
    padding-right: 28px;
  }
  .salaries__info-money {
    margin-top: 12px;
    margin-left: 30px;
    padding-left: 28px;
    padding-right: 28px;
  }
  .salaries__info-money li {
    width: 500px;
  }
  .salaries__info-money li:first-child {
    white-space: normal;
  }

  .salaries__info-money li::before {
    left: 6%;
  }
  .salaries__info-money li::after {
    right: 75%;
  }
  .salaries__info-money li:nth-child(1)::after {
    right: 75%;
    top: 29%;
  }

  .salaries__image {
    -webkit-box-shadow: inset 0 0 110px 14px #000;
    box-shadow: inset 0 0 110px 14px #000;
    mix-blend-mode: lighten;
    margin-left: 0;
    top: 38%;
    width: 400px;
    left: 10%;
  }

  .salaries__glare {
    top: 0;
    display: none;
  }

  .salaries__button {
    margin-top: 253px;
    margin-left: 0;
    font-size: 12px;
    margin-left: 90px;
    width: 500px;
  }

  .salaries__bottom-border {
    margin-top: 73px;
  }
}

@media (width <= 576px) {
  .salaries__title {
    margin-left: 0;
    font-size: 30px;
    padding-top: 28px;
    padding-left: 28px;
    padding-right: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .salaries__info-money {
    margin-top: 12px;
    margin-left: 0;
    padding-left: 28px;
    padding-right: 28px;
  }
  .salaries__info-money li {
    width: 304px;
  }
  .salaries__info-money li:first-child {
    white-space: normal;
  }

  .salaries__info-money li::before {
    left: 8%;
  }
  .salaries__info-money li::after {
    right: 60%;
  }
  .salaries__info-money li:nth-child(1)::after {
    right: 60%;
    top: 29%;
  }

  .salaries__image {
    -webkit-box-shadow: inset 0 0 110px 14px #000;
    box-shadow: inset 0 0 110px 14px #000;
    mix-blend-mode: lighten;
    margin-left: 0;
    top: 48%;
    width: 350px;
    right: 10px;
  }

  .salaries__glare {
    top: 0;
  }

  .salaries__button {
    margin-top: 253px;
    margin-left: 0;
    font-size: 12px;
    margin-left: 28px;
    width: 300px;
  }

  .salaries__bottom-border {
    margin-top: 73px;
  }
}
