.salaries {
  background: linear-gradient(315deg, #022335 0%, #043a41 100%);
  margin-top: 0;
  position: relative;
  overflow: hidden;
}

.salaries::before {
  content: "";
  position: absolute;
  border-radius: 100%;
  background: #00e0ff;
  filter: blur(247px);
  width: 200px;
  height: 300px;
  pointer-events: none;
  right: 660px;
  top: 430px;
  z-index: 0;
}

.salaries::after {
  content: "";
  border-radius: 100%;
  background: #ffa800;
  filter: blur(250px);
  width: 200px;
  height: 300px;
  pointer-events: none;
  position: absolute;
  right: 950px;
  top: 310px;
  z-index: var(--z-index-1);
}

.salaries__wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.salaries__content {
  flex: 1;
  z-index: var(--z-index-2);
  position: relative;
}
.salaries__title {
  padding-top: 138px;
  margin-left: 360px;
  color: var(--color-fill);
  white-space: nowrap;
}
.salaries__title-accent {
  color: var(--color-title);
}

.salaries__info-money {
  display: flex;
  flex-direction: column;
  max-width: 692px;
  width: 100%;
  position: relative;
  margin-left: 360px;
  margin-top: 64px;
  gap: 8px;
  padding: 0;
}

.salaries__info-money li {
  display: block;
  padding-block: 20px;
  padding-left: 77px;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgba(31, 63, 77, 0.53) 52.08%,
    rgba(31, 75, 94, 0) 100%
  );
  line-height: 140%;
  width: 692px;
  flex-wrap: wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.salaries__info-money li::before {
  content: "";
  position: absolute;
  left: 4%;
  width: 32px;
  height: 21px;
  background-image: url(/icons.svg/salaries-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.salaries__info-money li::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  background: rgba(3, 225, 255, 0.6);
  filter: blur(11px);
  height: 15px;
  bottom: 15px;
  right: 82%;
  width: 62px;
  pointer-events: none;
}

.salaries__info-money li:nth-child(2)::after {
  top: 30px;
}
.salaries__info-money li:nth-child(3)::after {
  top: 30px;
}

.salaries__info-money li:nth-child(4)::after {
  top: 30px;
}

.salaries__info-money li:first-child {
  white-space: nowrap;
}

.salaries__image {
  padding-top: 275px;
  margin-left: 900px;
  box-shadow: inset 0 0 110px 14px #000;
  mix-blend-mode: lighten;
  object-fit: contain;
  z-index: 10;
  position: absolute;
  object-position: center;
}

.salaries__glare {
  mix-blend-mode: screen;
  position: absolute;
  z-index: 1;
  left: 913px;
  top: 401px;
}
.salaries__button {
  margin-top: 69px;
  margin-left: 360px;
  background: var(--background-button);
  border: none;
  border-radius: 9px;
  color: var(--color-fill);
  font-weight: var(--font-weight-bold);
  font-size: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  box-shadow: var(--shadow-primary);
  max-width: 479px;
  height: 60px;
  width: 100%;
  transition: transform 0.3s;
}

.salaries__bottom-border {
  width: 100%;
  height: 0;
  filter: blur(2px);
  box-shadow: var(--border-bottom);
  border: 1px solid #3dc8c0;
  opacity: 0.9;
  margin-top: 110px;
  margin-bottom: 3px;
}
