.school-announcement {
  background: #022335;
  background: -o-linear-gradient(
    315deg,
    #011a26 0%,
    #022e3a 100%,
    #0a3d42 50%,
    #0c4a47 10%
  );
  background: linear-gradient(
    135deg,
    #011a26 0%,
    #022e3a 100%,
    #0a3d42 50%,
    #0c4a47 10%
  );
}

.school-announcement__slider-wrapper {
  padding-left: 345px;
  position: relative;
}

.school-announcement__slide {
  position: relative;
}

.swiper-slide {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-wrapper {
  position: relative;
}

.school-announcement__visibility-none {
  display: none;
}

.school-announcement__info-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 100px;
  padding-left: 90px;
  padding-bottom: 112px;
}

.school-announcement__img-wrapper {
  position: relative;
}

.school-announcement__img {
  width: 100%;
  height: 236px;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}

.school-announcement__img-wrapper::before {
  content: "";
  position: absolute;
  border-radius: 100%;
  background: rgba(3, 225, 255, 0.66);
  -webkit-filter: blur(11px);
  filter: blur(11px);
  height: 15px;
  bottom: -3px;
  right: 75%;
  width: 62px;
  pointer-events: none;
}

.school-announcement__title {
  color: var(--color-text-primary);
}

.school-announcement__button {
  width: 213px;
  height: 60px;
  font-weight: 750;
  font-size: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-title);
  border: 1px solid var(--color-text-accent);
  border-radius: 9px;
  -webkit-box-shadow: 0 7px 20px -7px #00e0ff;
  box-shadow: 0 7px 20px -7px #00e0ff;
}

.school-announcement__info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  gap: 19px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

.school-announcement__datetime {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 4px;
  top: 21px;
  left: 71%;
}

.school-announcement__data {
  font-weight: 600;
  font-size: 12px;
  line-height: 175%;
  color: var(--color-text-primary);
}

.school-announcement__button-prev {
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 100%;
  background: #08262b;
  width: 62px;
  height: 62px;
  z-index: var(--z-index-3);
  left: 20px;
  cursor: pointer;
}

.school-announcement__button-prev::after {
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 22px;
  height: 12px;
  position: absolute;
  background: url(../../icons.svg/arrow-left.svg);
}

.school-announcement__button-next {
  position: absolute;
  top: 30%;
  right: 390px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 100%;
  z-index: var(--z-index-3);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(3, 225, 255, 0.66)),
    to(#13cdc2)
  );
  background: -o-linear-gradient(top, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
  -webkit-box-shadow: 0 7px 20px -7px #00e0ff;
  box-shadow: 0 7px 20px -7px #00e0ff;
  width: 62px;
  cursor: pointer;
  height: 62px;
}

.school-announcement__button-next::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 22px;
  height: 12px;
  background: url(../../icons.svg/arrow-right.svg);
}

.school-announcement__border-bottom {
  width: 100%;
  height: 0;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-box-shadow: var(--border-bottom);
  box-shadow: var(--border-bottom);
  border: 1px solid #3dc8c0;
  opacity: 0.9;
  margin-top: 80px;
}

@media (width <= 1440px) {
  .school-announcement__slider-wrapper {
    padding-left: 0px;
  }

  .school-announcement__button-next {
    left: 80%;
  }
}

@media (width <= 1440px) {
  .school-announcement__button-next {
    left: 70%;
  }
}

@media (width <= 1200px) {
  .school-announcement__slider-wrapper {
    padding-left: 0px;
  }

  .school-announcement__button-next {
    left: 80%;
  }
}

@media (width <= 768px) {
  .school-announcement__title {
    font-size: 30px;
  }

  .school-announcement__info-flex {
    padding-left: 0;
  }

  .school-announcement__slider-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }

  .school-announcement__datetime {
    left: 82%;
  }

  .school-announcement__button-next {
    left: 87%;
  }
}

@media (width <= 576px) {
  .school-announcement {
    overflow: visible;
  }
  .school-announcement__title {
    font-size: 30px;
  }

  .school-announcement__info-flex {
    text-align: left;
    padding-left: 29px;
    padding-bottom: 40px;
  }

  .school-announcement__slider-wrapper {
    padding-left: 30px;
    padding-right: 31px;
    overflow: visible;
  }
  .school-announcement__img-wrapper {
    position: relative;
    overflow: visible;
  }

  .school-announcement__img {
    width: 299px;
    height: 185px;
    overflow: visible;
    z-index: 1;
  }

  .school-announcement__title-words {
    font-size: 15px;
  }
  .school-announcement__definitions {
    font-size: 14px;
  }

  .school-announcement__link {
    font-size: 12px;
  }

  .school-announcement__info-card {
    gap: 17px;
  }

  .school-announcement__data {
    font-size: 10px;
  }

  .school-announcement__button {
    position: absolute;
    top: 90%;
    font-size: 12px;
    border: 1px solid #00e0ff;
    border-radius: 9px;
    width: 180px;
    height: 30px;
    left: 25%;
    margin-bottom: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .swiper {
    overflow: visible;
  }

  .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
  }

  .swiper-slide {
    width: 100%;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: auto;
    overflow: visible;
  }

  .school-announcement__button-next::after {
    width: 22px;
    height: 12px;
  }

  .school-announcement__button-prev {
    width: 43px;
    height: 43px;
    left: 1%;
  }

  .school-announcement__button-prev::after {
    width: 16px;
    height: 12px;
  }

  .school-announcement__button-next {
    left: 85%;
    width: 43px;
    height: 43px;
  }
}
