.school-announcement {
  background: #022335;
  background: linear-gradient(
    135deg,
    #011a26 0%,
    #022e3a 100%,
    #0a3d42 50%,
    #0c4a47 10%
  );
}

.school-announcement__slider-wrapper {
  padding-left: 345px;
  position: relative;
}

.school-announcement__slide {
  position: relative;
}

.swiper-slide {
  height: auto;
  display: flex;
}

.swiper-wrapper {
  position: relative;
}

.swiper-slide:nth-child(4) .school-announcement__info-card {
  opacity: 0.3;
}

.school-announcement__visibility-none {
  visibility: none;
  opacity: 0;
}

.school-announcement__info-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 100px;
  padding-left: 90px;
  padding-bottom: 112px;
}

.school-announcement__img-wrapper {
  position: relative;
}

.school-announcement__img {
  width: 100%;
  height: 236px;
  border-radius: 20px;
  object-fit: cover;
}

.school-announcement__img-wrapper::before {
  content: "";
  position: absolute;
  border-radius: 100%;
  background: rgba(3, 225, 255, 0.66);
  filter: blur(11px);
  height: 15px;
  bottom: -3px;
  right: 75%;
  width: 62px;
  pointer-events: none;
}

.school-announcement__title {
  color: var(--color-text-primary);
}

.school-announcement__button {
  width: 213px;
  height: 60px;
  font-weight: 750;
  font-size: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-title);
  border: 1px solid var(--color-text-accent);
  border-radius: 9px;
  box-shadow: 0 7px 20px -7px #00e0ff;
}

.school-announcement__info-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 19px;
  flex: 1;
  position: relative;
}

.school-announcement__datetime {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  top: 21px;
  left: 71%;
}

.school-announcement__data {
  font-weight: 600;
  font-size: 12px;
  line-height: 175%;
  color: var(--color-text-primary);
}

.school-announcement__button-prev {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  border-radius: 100%;
  background: #08262b;
  width: 62px;
  height: 62px;
  z-index: var(--z-index-3);
  left: 20px;
  cursor: pointer;
}

.school-announcement__button-prev::after {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 12px;
  position: absolute;
  background: url(/icons.svg/arrow-left.svg);
}

.school-announcement__button-next {
  position: absolute;
  top: 30%;
  right: 390px;
  transform: translateY(-50%);
  border-radius: 100%;
  z-index: var(--z-index-3);
  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
  box-shadow: 0 7px 20px -7px #00e0ff;
  width: 62px;
  cursor: pointer;
  height: 62px;
}

.school-announcement__button-next::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 12px;
  background: url(/icons.svg/arrow-right.svg);
}

.school-announcement__border-bottom {
  width: 100%;
  height: 0;
  filter: blur(2px);
  box-shadow: var(--border-bottom);
  border: 1px solid #3dc8c0;
  opacity: 0.9;
  margin-top: 80px;
}
