.structure {
  background: -o-linear-gradient(135deg, #022335 0%, #043a41 100%);
  background: linear-gradient(315deg, #022335 0%, #043a41 100%);
  margin-top: 0;
  position: relative;
}

.structure::before {
  content: "";
  position: absolute;
  border-radius: 100%;
  background: #00e0ff;
  -webkit-filter: blur(247px);
  filter: blur(247px);
  width: 200px;
  height: 300px;
  pointer-events: none;
  right: 480px;
  overflow: hidden;
  z-index: 0;
}

.structure::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  background: #00e0ff;
  -webkit-filter: blur(247px);
  filter: blur(247px);
  width: 150px;
  height: 150px;
  pointer-events: none;
  top: 650px;
  left: 60%;
  overflow: hidden;
  z-index: 0;
}

.structure__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.structure__title {
  color: var(--color-text-primary);
  padding-top: 104px;
  margin-left: 360px;
  white-space: nowrap;
}

.structure__title-accent {
  color: var(--color-title);
}

.structure__info-content li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 620px;
  width: 100%;
  position: relative;
  margin-left: 360px;
  margin-top: 38px;
  gap: 22px;
  padding-left: 60px;
}

.structure__info-content li::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  left: 1%;
  top: -15px;
  background-image: url(../../icons.svg/structure.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.structure__info-content li::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  background: rgba(3, 225, 255, 0.6);
  -webkit-filter: blur(11px);
  filter: blur(11px);
  height: 15px;
  left: 40px;
  width: 62px;
  pointer-events: none;
}

.structure__image {
  top: 90px;
  left: 750px;
  -webkit-box-shadow: inset 0 0 110px 14px #000;
  box-shadow: inset 0 0 110px 14px #000;
  mix-blend-mode: lighten;
  -o-object-fit: contain;
  object-fit: contain;
  overflow: hidden;
  position: absolute;
}

.structure-glare {
  position: absolute;
  z-index: 1;
  left: 1005px;
  top: 175px;
}

.structure__button {
  margin-top: 53px;
  margin-left: 360px;
  background: var(--background-button);
  border: none;
  border-radius: 9px;
  color: var(--color-fill);
  font-weight: var(--font-weight-bold);
  font-size: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: var(--shadow-primary);
  box-shadow: var(--shadow-primary);
  max-width: 479px;
  height: 60px;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition:
    transform 0.3s,
    -webkit-transform 0.3s;
}

.structure__border-bottom {
  width: 100%;
  height: 0;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-box-shadow: var(--border-bottom);
  box-shadow: var(--border-bottom);
  border: 1px solid #3dc8c0;
  opacity: 0.9;
  margin-top: 116px;
}

@media (width <= 1920px) {
  .structure__title {
    margin-left: 80px;
    font-size: 35px;
  }

  .structure__info-content li {
    margin-left: 80px;
    font-size: 13px;
  }

  .structure__image {
    left: 500px;
    width: clamp(34.375rem, 9.375rem + 52.08vw, 56.25rem);
  }

  .structure-glare {
    left: 600px;
    width: clamp(34.375rem, 16.518rem + 37.2vw, 50rem);
    height: 400px;
  }

  .structure__button {
    margin-left: 100px;
  }
}

@media (width <= 1440px) {
  .structure__image {
    top: 180px;
    left: 550px;
    width: 700px;
  }

  .structure-glare {
    left: 550px;
    width: clamp(34.375rem, 16.518rem + 37.2vw, 50rem);
    height: 350px;
  }
}

@media (width <= 1024px) {
  .structure__title {
    margin-left: 0;
    font-size: 22px;
    padding-top: 28px;
    padding-left: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .structure__info-content {
    margin-top: 12px;
    margin-left: 0;
    padding-left: 28px;
    padding-right: 28px;
  }

  .structure__info-content li {
    margin-left: 0;
    width: 600px;
    font-size: 14px;
    padding-right: 28px;
  }

  .structure__info-content li::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    left: -1%;
    top: -6px;
    background-image: url(../../icons.svg/structure.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
  }

  .structure__image {
    -webkit-box-shadow: inset 100px 0 143px 76px #000;
    box-shadow: inset 100px 0 143px 76px #000;
    mix-blend-mode: lighten;
    margin-left: 0;
    padding: 0;
    top: 50%;
    left: 0;
    width: 581px;
    height: 383px;
  }

  .structure__button {
    margin-left: 0;
    margin-top: 300px;
    margin-left: 0;
    font-size: 12px;
    margin-left: 28px;
    width: 500px;
  }

  .structure-glare {
    display: none;
  }
}

@media (width <= 768px) {
  .structure__title {
    margin-left: 0;
    font-size: 22px;
    padding-top: 28px;
    padding-left: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .structure__info-content {
    margin-top: 12px;
    margin-left: 0;
    padding-left: 28px;
    padding-right: 28px;
  }

  .structure__info-content li {
    margin-left: 0;
    width: 500px;
    font-size: 14px;
    padding-right: 28px;
  }

  .structure__info-content li::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    left: -1%;
    top: -6px;
    background-image: url(../../icons.svg/structure.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
  }

  .structure__image {
    -webkit-box-shadow: inset 100px 0 143px 76px #000;
    box-shadow: inset 100px 0 143px 76px #000;
    mix-blend-mode: lighten;
    margin-left: 0;
    padding: 0;
    top: 50%;
    left: 0;
    width: 581px;
    height: 383px;
  }

  .structure__button {
    margin-left: 0;
    margin-top: 300px;
    margin-left: 0;
    font-size: 12px;
    margin-left: 28px;
    width: 500px;
  }

  .structure-glare {
    display: none;
  }
}

@media (width <= 576px) {
  .structure__title {
    margin-left: 0;
    font-size: 22px;
    padding-top: 28px;
    padding-left: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .structure__info-content {
    margin-top: 12px;
    margin-left: 0;
    padding-left: 28px;
    padding-right: 28px;
  }

  .structure__info-content li {
    margin-left: 0;
    width: 320px;
    font-size: 14px;
    padding-right: 28px;
  }

  .structure__info-content li::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    left: -1%;
    top: -6px;
    background-image: url(../../icons.svg/structure.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
  }

  .structure__image {
    -webkit-box-shadow: inset 100px 0 143px 76px #000;
    box-shadow: inset 100px 0 143px 76px #000;
    mix-blend-mode: lighten;
    margin-left: 0;
    padding: 0;
    top: 63%;
    left: 0;
    width: 581px;
    height: 383px;
  }

  .structure__button {
    margin-left: 0;
    margin-top: 220px;
    margin-left: 0;
    font-size: 12px;
    margin-left: 28px;
    width: 300px;
  }
}
