.author-course {
  background: linear-gradient(315deg, #022335 0%, #043a41 100%);
  margin-top: 0;
  position: relative;
  overflow: hidden;
}

.author-course__title {
  padding-top: 100px;
  padding-left: 360px;
  color: var(--color-fill);
  padding-bottom: 60px;
}

.author-course__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.author-course__text {
  display: block;
  padding-block: 20px;
  padding-left: 360px;
  line-height: 140%;
  flex-wrap: wrap;
  max-width: 850px;
}

.author-course__text--with-glow::before {
  content: "";
  position: absolute;
  border-radius: 100%;
  background: rgba(3, 225, 255, 0.6);
  filter: blur(11px);
  height: 15px;
  left: 18%;
  width: 62px;
  pointer-events: none;
}

.author-course__image {
  position: absolute;
  box-shadow: inset 1px 0 16px 41px #08262b;
  mix-blend-mode: lighten;
  opacity: 0.5;
  top: 105px;
  left: 47%;
  bottom: 0;
  width: 100%;
  object-fit: contain;
  z-index: var(--z-index-1);
  max-width: 1084px;
}
.author-course__glare {
  position: absolute;
  top: 21%;
  left: 955px;
  fill: #ffa800;
  mix-blend-mode: screen;
  opacity: 1;
  pointer-events: none;
}

.author-course__picture-wrapper::before {
  content: "";
  position: absolute;
  border-radius: 100%;
  background: rgba(0, 224, 255, 0.1);
  filter: blur(167px);
  width: 200px;
  height: 300px;
  pointer-events: none;
  right: 670px;
  top: 250px;
  z-index: 0;
}
.author-course__picture {
  position: absolute;
  top: 65px;
  left: 50%;
  z-index: var(--z-index-2);
}

.author-course__info {
  position: absolute;
  left: 63%;
  bottom: 50px;
  z-index: var(--z-index-3);
}

.author-course__name {
  font-weight: 750;
  font-size: 24px;
  line-height: 83%;
  color: #00e0ff;
}

.author-course__position {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
}

.author-course__border-bottom {
  width: 1920px;
  margin-left: 740px;
  height: 0;
  filter: blur(2px);
  box-shadow: var(--border-bottom);
  border: 1px solid #3dc8c0;
  opacity: 0.9;
  margin-top: 45px;
  margin-bottom: 5px;
}


