.structure {
  background: linear-gradient(315deg, #022335 0%, #043a41 100%);
  margin-top: 0;
  position: relative;
}

.structure::before {
  content: "";
  position: absolute;
  border-radius: 100%;
  background: #00e0ff;
  filter: blur(247px);
  width: 200px;
  height: 300px;
  pointer-events: none;
  right: 480px;
  overflow: hidden;
  z-index: 0;
}

.structure::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  background: #00e0ff;
  filter: blur(247px);
  width: 150px;
  height: 150px;
  pointer-events: none;
  top: 650px;
  left: 60%;
  overflow: hidden;
  z-index: 0;
}

.structure__wrapper {
  display: flex;
  align-items: center;

  position: relative;
}

.structure__title {
  color: var(--color-text-primary);
  padding-top: 104px;
  margin-left: 360px;
  white-space: nowrap;
}

.structure__title-accent {
  color: var(--color-title);
}

.structure__info-content li {
  display: flex;
  flex-direction: column;
  max-width: 620px;
  width: 100%;
  position: relative;
  margin-left: 360px;
  margin-top: 38px;
  gap: 22px;
  padding-left: 60px;
}

.structure__info-content li::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  left: 1%;
  top: -15px;
  background-image: url(/icons.svg/structure.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.structure__info-content li::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  background: rgba(3, 225, 255, 0.6);
  filter: blur(11px);
  height: 15px;
  left: 40px;
  width: 62px;
  pointer-events: none;
}

.structure__image {
  top: 90px;
  left: 750px;
  box-shadow: inset 0 0 110px 14px #000;
  mix-blend-mode: lighten;
  object-fit: contain;
  overflow: hidden;
  position: absolute;
}

.structure-glare {
  position: absolute;
  z-index: 1;
  left: 1005px;
  top: 175px;
}

.structure__button {
  margin-top: 53px;
  margin-left: 360px;
  background: var(--background-button);
  border: none;
  border-radius: 9px;
  color: var(--color-fill);
  font-weight: var(--font-weight-bold);
  font-size: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  box-shadow: var(--shadow-primary);
  max-width: 479px;
  height: 60px;
  width: 100%;
  transition: transform 0.3s;
}

.structure__border-bottom {
  width: 100%;
  height: 0;
  filter: blur(2px);
  box-shadow: var(--border-bottom);
  border: 1px solid #3dc8c0;
  opacity: 0.9;
  margin-top: 116px;
}
