/* здесь будут импорты */

/* base styles */
@import "./base/fonts.css";
@import "./base/globals.css";
@import "./base/normalize.css";
@import "./base/vars.css";

/* blocks style */

@import "./blocks/header.css";
@import "./blocks/advantages.css";
@import "./blocks/salaries.css";
@import "./blocks/ai-basics.css";
@import "./blocks/structure.css";
@import "./blocks/roadmap.css";
@import "./blocks/author-course.css";
@import "./blocks/school-announcement.css";
@import "./blocks/job-openings.css";
@import "./blocks/footer.css";
@import "./blocks/modal-window.css";
