table {
  border-collapse: collapse;
  border-spacing: 0;
}
table,
caption {
  border: 1px solid black;
  font-weight: ;
}
table {
  border: 1px solid black;
}
td,
th {
  border: 1px solid black;
}
caption {
  border-bottom: none;
}

.head__table {
  font-weight: 600;
}

.empty {
  border: none;
}
.border__left {
  border-left: none;
}
.last,
.last__1 {
  color: red;
}
