/* шриФТЫ */
@font-face {
  font-family: "Avenir Next Cyr";
  src: local("AvenirNextCyr-Medium"), local("AvenirNextCyr Medium"),
    url("../../fonts/AvenirNextCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: local("AvenirNextCyr-Heavy"), local("AvenirNextCyr Heavy"),
    url("../../fonts/AvenirNextCyr-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: local("AvenirNextCyr-Demi"), local("AvenirNextCyr Demi"),
    url("../../fonts/AvenirNextCyr-Demi.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: local("AvenirNextCyr-Bold"), local("AvenirNextCyr-Bold"),
    url("../../fonts/AvenirNextCyr-Bold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
