/* здесь будут переменные  */

:root {
  /* fonts */
  --font-family: "Avenir Next Cyr", sans-serif;
  /* color */
  --color-bg-primary: #022335;
  --color-bg-secondary: #043a41;
  --color-text-primary: #ffffff;
  --color-fill: #fff;
  --color-text-secondary: #747d81;
  --color-text-accent: #00e0ff;
  --color-gradient-start: rgba(3, 225, 255, 0.66);
  --color-gradient-end: #13cdc2;
  --color-card-bg: rgba(255, 255, 255, 0.05);
  --color-card-border: rgba(255, 255, 255, 0.1);
  --color-book-gradient-start: #0a4657;
  --color-book-gradient-end: #0e6176;
  --color-filter: blur(247px);
  --color-border-small-circle: #4a8bec;
  --color-title: #4abcec;
  --overlay-color: rgba(0, 20, 30, 0.75);

  /* Тени */
  --shadow-primary: 0 7px 20px -7px #00e0ff;
  --shadow-secondary: 0 6px 20px rgba(0, 0, 0, 0.25);
  --shadow-inset: inset 58px 4px 191px 47px #000;
  --background-button: linear-gradient(
    180deg,
    rgba(3, 225, 255, 0.66) 0%,
    #13cdc2 100%
  );

  --border-bottom:
    0 0 24px 0 #00e0ff, 0 4px 15px 0 #4ad9ec,
    0 3px 15px 0 rgba(0, 224, 255, 0.93);

  /* transition */
  --transform: 0.4s;

  /* layers */
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
}
