html {
  font-family: sans-serif;
}

body {
  box-sizing: border-box;
}

ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header {
  max-width: 1320px;
}

.container {
  max-width: 1320px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  margin-top: 15px;
  margin-left: 250px;
  align-items: center;
}
.logo__header {
  width: 50px;
  height: 50px;
  background-color: black;
}
.nav__list {
}
ul,
li {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.item__list {
  color: black;
}

.line__height {
  border-bottom: 2px solid #c0c0c0;
  margin-top: 20px;
  max-width: 33%;
  margin-left: 220px;
}
